modules = ["bash", "c-clang14"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "C Hello Program"

[[workflows.workflow]]
name = "C Hello Program"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "make && echo \"Program built successfully. Running with test input:\" && ./a.out < ./testes/input.txt"

[workflows.workflow.metadata]
outputType = "console"
